img.google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 148px;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 575px;
    height: 45px;
    border-radius: 25px;
    border: .5px solid #dfdede;
    background-color: white;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 480px;
    height: 40px;
    border: 1px;
    font-family: arial,sans-serif;
}

 .google-search, .feeling-lucky {
    border: none;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #6d6d6d;
    border-radius: 3px;
    font-family: arial,sans-serif;
}

.google-search {
    float: left;
    width: 130px;
    height: 35px;
    margin-left: 95px;
}

.feeling-lucky {
    float: right;
    width: 135px;
    height: 35px;
    margin-right: 110px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 12px;
    overflow: hidden;
}

li {
    display: inline;
    padding-inline: 8px;
}

.about, .store, .gmail, .images {
    font-size: 12px;
    text-decoration: none;
    font-family: arial,sans-serif;
    color: black;
}

.about-store {
    float: left;
    
}

.gmail-images {
    float: right;
    margin-right: 5px;
    
}

.sign-in {
    border: 1px;
    border-style: solid;
    border-color: #4285F4;
    background-color: #4285F4;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 13px;
    padding-left: 13px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    font-size: 12px;
    text-decoration: none;
    font-family: arial,sans-serif;

}

a:visited.sign-in {
    color: white;
}

a:active, a:visited {
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    border-top-color: #6d6d6d;
    text-align: center;
    /* padding-inline: 12px; */
  }

  .advertising, .business, .how, .privacy, .terms, .settings {
    font-size: 13px;
    text-decoration: none;
    font-family: arial,sans-serif;
    padding-right:3px;
    color: #6d6d6d;
  }

  .advertising-business {
      float: left;
  }

  .privacy-terms {
      float: right;
  }